<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreatePaiementDetail('paiementDetail')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchPaiementDetail.reference">
                                    <label for="1">Reference</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="clients" [(ngModel)]="searchPaiementDetail.clientVo"
                                        id="2"
                                        [filter]="true" [showClear]="true"  placeholder="Client"
                                        optionLabel="cin">
                                </p-dropdown>
                            </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchPaiementDetail.pourcentageMin"
                                                             id="3-1"></p-inputNumber>
                                              <label for="3-1">Pourcentage Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchPaiementDetail.pourcentageMax"
                                                             id="3-2"></p-inputNumber>
                                             <label for="3-2">Pourcentage Max</label>
                                       </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="paiements" [(ngModel)]="searchPaiementDetail.paiementVo"
                                        id="4"
                                        [filter]="true" [showClear]="true"  placeholder="Paiement"
                                        optionLabel="reference">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="paiementDetails" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['reference', 'cin', 'pourcentage', 'reference']" [(selection)]="selectedPaiementDetail"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Paiement details</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="reference">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Reference</span>
                                        <p-sortIcon field="reference"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="client">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Client</span>
                                        <p-sortIcon field="client"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="pourcentage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Pourcentage</span>
                                        <p-sortIcon field="pourcentage"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="paiement">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Paiement</span>
                                        <p-sortIcon field="paiement"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paiementDetail>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="paiementDetail"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{paiementDetail.reference}}</td>
                            

                            
                                <td>{{paiementDetail.clientVo?.cin}}</td>
                            

                            
                                 <td>{{paiementDetail.pourcentage}}</td>
                            

                            
                                <td>{{paiementDetail.paiementVo?.reference}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editPaiementDetail(paiementDetail)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewPaiementDetail(paiementDetail)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deletePaiementDetail(paiementDetail)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicatePaiementDetail(paiementDetail)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{paiementDetails ? paiementDetails.length == 1 ? 'y a' : 'y a' : 'y a' }} {{paiementDetails ? paiementDetails.length : 0 }} {{paiementDetails ? paiementDetails.length == 1 ? 'paiementDetail' : 'paiementDetails' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-paiement-detail-create-chercheur></app-paiement-detail-create-chercheur>
        <app-paiement-detail-edit-chercheur></app-paiement-detail-edit-chercheur>
        <app-paiement-detail-view-chercheur></app-paiement-detail-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
