
<p-dialog [(visible)]="viewPaiementTagDialog" [style]="{width: '70vw'}"
        header="Paiement tag" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Paiement tag">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Paiement</label>
                                    <p-dropdown [options]="paiements" [(ngModel)]="selectedPaiementTag.paiementVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="reference"
                                            placeholder="Paiement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Tag</label>
                                    <p-dropdown [options]="tags" [(ngModel)]="selectedPaiementTag.tagVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Tag">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-paiement-create-chercheur></app-paiement-create-chercheur>
            <app-tag-create-chercheur></app-tag-create-chercheur>



</p-dialog>



