        <p-dialog [(visible)]="createCommandeDialog" [style]="{width: '70vw'}"
                header="Commande" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Commande">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Reference<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedCommande.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : validCommandeReference}" required  />
                                            <small class='p-error' *ngIf='!validCommandeReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Date commande<span style="color: red;">*</span></label>
                                            <p-calendar id="2"
                                                        placeholder="Date commande"  [(ngModel)]="selectedCommande.dateCommande"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : validCommandeDateCommande}" required  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validCommandeDateCommande'>DateCommande est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Total</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Total"
                                                    [(ngModel)]="selectedCommande.total"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Total paye</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="4"
                                                           placeholder="Total paye"
                                                    [(ngModel)]="selectedCommande.totalPaye"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="5">Client<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="clients" [(ngModel)]="selectedCommande.clientVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="cin"
                                                    placeholder="Client" [ngClass]="{'ng-invalid ng-dirty' : validCommandeClient}" required  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validCommandeClient'>Client est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateclient('client')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="p-field p-col-12  p-md-4">
                                        <label>Tag</label>
                                        <p-multiSelect [options]="commandeTagsVo" [(ngModel)]="selectedCommande.commandeTagsVo" defaultLabel="Select un tag" optionLabel="libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="9">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedCommande.archive">
                                                    
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="10">Date archivage</label>
                                            <p-calendar id="10"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedCommande.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="11">Date creation</label>
                                            <p-calendar id="11"
                                                        placeholder="Date creation"  [(ngModel)]="selectedCommande.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Paiements">
                                   <p-tabView>
                                    <p-tabPanel header="Création">
                                <div class="p-grid">
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="1">Reference<span style="color: red;">*</span></label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Reference"
                                                           id="1" [(ngModel)]="selectedPaiements.reference"
                                                           autofocus  [ngClass]="{'ng-invalid ng-dirty' : validPaiementReference}" required  >
                                                    <small class='p-error' *ngIf='!validPaiementReference'>Reference est obligatoire.</small>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="2">Date paiement<span style="color: red;">*</span></label>
                                                    <p-calendar id="2"
                                                                placeholder="Date paiement"
                                                            [(ngModel)]="selectedPaiements.datePaiement"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  [ngClass]="{'ng-invalid ng-dirty' : validPaiementDatePaiement}" required ></p-calendar>
                                                    <small class='p-error' *ngIf='!validPaiementDatePaiement'>DatePaiement est obligatoire.</small>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="3">Montant<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="p-mb-2 p-mr-2" id="montant"
                                                                   placeholder="Montant"  [ngClass]="{'ng-invalid ng-dirty' : validPaiementMontant}" required 
                                                            [(ngModel)]="selectedPaiements.montant"></p-inputNumber>
                                                    <small class='p-error' *ngIf='!validPaiementMontant'>Montant est obligatoire.</small>
                                                </div>
                                                <div class="p-field p-col-12  p-md-4">
                                                    <label>Tag<span style="color: red;">*</span></label>
                                                    <p-multiSelect [options]="paiementTagsVo" [(ngModel)]="selectedPaiements.paiementTagsVo"
                                                            defaultLabel="Selectionner un Tag"
                                                            optionLabel="tagVo?.libelle"  display="chip"></p-multiSelect>
                                                </div>
                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addPaiements()">
                                              </button>
                                          </div>
                                </div>
                                </p-tabPanel>
                                <p-tabPanel header="Liste">
                                    <div class="card">
                                        <p-table [value]="selectedCommande.paiementsVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Reference</th>
                                                                <th>Date paiement</th>
                                                                <th>Montant</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                                <td>{{p.reference}}</td>

                                                                <td>{{p.datePaiement | date: dateFormatColumn}}</td>

                                                                <td>{{p.montant}}</td>

                                                    <td>
                                                        <button (click)="deletePaiements(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>

                    <p-tabPanel header="Commande items">
                                   <p-tabView>
                                    <p-tabPanel header="Création">
                                <div class="p-grid">
                                                    <div class="p-field p-col-11 p-md-3">
                                                        <label>Produit</label>
                                                        <p-dropdown [options]="produits" [(ngModel)]="selectedCommandeItems.produitVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="reference"
                                                                placeholder="Produit"  
                                                        >
                                                        </p-dropdown>
                                                        
                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateproduit('produit')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="2">Prix<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="p-mb-2 p-mr-2" id="prix"
                                                                   placeholder="Prix"  [ngClass]="{'ng-invalid ng-dirty' : validCommandeItemPrix}" required 
                                                            [(ngModel)]="selectedCommandeItems.prix"></p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemPrix'>Prix est obligatoire.</small>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="3">Quantite<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="p-mb-2 p-mr-2" id="quantite"
                                                                   placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : validCommandeItemQuantite}" required 
                                                            [(ngModel)]="selectedCommandeItems.quantite"></p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemQuantite'>Quantite est obligatoire.</small>
                                                </div>
                                                <div class="p-field  align-inputswitch p-col-12 p-md-4">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">Archive</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="selectedCommandeItems.archive"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="6">Date archivage</label>
                                                    <p-calendar id="6"
                                                                placeholder="Date archivage"
                                                            [(ngModel)]="selectedCommandeItems.dateArchivage"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                                 <div class="p-field p-col-12 p-md-4">
                                                    <label for="7">Date creation</label>
                                                    <p-calendar id="7"
                                                                placeholder="Date creation"
                                                            [(ngModel)]="selectedCommandeItems.dateCreation"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                    
                                                </div>
                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addCommandeItems()">
                                              </button>
                                          </div>
                                </div>
                                </p-tabPanel>
                                <p-tabPanel header="Liste">
                                    <div class="card">
                                        <p-table [value]="selectedCommande.commandeItemsVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Produit</th>
                                                                <th>Prix</th>
                                                                <th>Quantite</th>
                                                                <th>Archive</th>
                                                                <th>Date archivage</th>
                                                                <th>Date creation</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                            <td>{{p.produitVo?.reference}}</td>
                                                                <td>{{p.prix}}</td>

                                                                <td>{{p.quantite}}</td>

                                                                <td><i *ngIf="p.archive" class="pi pi-check checked-toogle"></i>
                                                                    <i *ngIf="!p.archive" class="pi pi-times unchecked-toogle"></i>
                                                                </td>

                                                                <td>{{p.dateArchivage | date: dateFormatColumn}}</td>

                                                                <td>{{p.dateCreation | date: dateFormatColumn}}</td>

                                                    <td>
                                                        <button (click)="deleteCommandeItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-client-create-chercheur></app-client-create-chercheur>

                            <app-produit-create-chercheur></app-produit-create-chercheur>
                            <app-tag-create-chercheur></app-tag-create-chercheur>

    </p-dialog>
