
        <p-dialog [(visible)]="editPaiementDialog" [style]="{width: '70vw'}"
                header="Paiement" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Paiement">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Reference</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedPaiement.reference"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Date paiement</label>
                                            <p-calendar id="2"
                                                        placeholder="Date paiement"  [(ngModel)]="selectedPaiement.datePaiement"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Montant</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Montant"  [(ngModel)]="selectedPaiement.montant"
                                                    [(ngModel)]="selectedPaiement.montant"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="4">Commande</label>
                                            <p-dropdown [options]="commandes" [(ngModel)]="selectedPaiement.commandeVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Commande">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecommande('commande')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Paiement details">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Reference</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Reference"
                                                           id="1" [(ngModel)]="selectedPaiementDetails.reference"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Pourcentage</label>
                                                    <p-inputNumber class="p-mb-2 p-mr-2" id="pourcentage"
                                                                   placeholder="Pourcentage"
                                                            [(ngModel)]="selectedPaiementDetails.pourcentage"></p-inputNumber>
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Client</label>
                                                        <p-dropdown [options]="clients" [(ngModel)]="selectedPaiementDetails.clientVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="cin"
                                                                placeholder="Client"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateclient('client')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPaiementDetails()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedPaiement.paiementDetailsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Reference</th>
                                                                    <th>Client</th>
                                                                    <th>Pourcentage</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                    <td>{{p.reference}}</td>

                                                                <td>{{p.clientVo?.cin}}</td>
                                                                    <td>{{p.pourcentage}}</td>

                                                        <td>
                                                            <button (click)="deletePaiementDetails(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Paiement tags">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Tag</label>
                                                        <p-dropdown [options]="tags" [(ngModel)]="selectedPaiementTags.tagVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Tag"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetag('tag')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPaiementTags()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedPaiement.paiementTagsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Tag</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.tagVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deletePaiementTags(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-commande-create-chercheur></app-commande-create-chercheur>

                            <app-client-create-chercheur></app-client-create-chercheur>
                            <app-tag-create-chercheur></app-tag-create-chercheur>


    </p-dialog>



